# Question 1:

In [ ]:
list=[]
i=1
while i<=10:
  n=int(input("Enter a Numbers: "))
  if n%2==0:
    list.append(n)
  i=i+1
print(list)

Enter a Numbers: 83
Enter a Numbers: 90
Enter a Numbers: 42
Enter a Numbers: 76
Enter a Numbers: 57
Enter a Numbers: 98
Enter a Numbers: 71
Enter a Numbers: 84
Enter a Numbers: 49
Enter a Numbers: 25
[90, 42, 76, 98, 84]

# Question 2:

# **LIST COMPREHENSIONS**

List comprehensions are used for creating new lists from other iterables.
As list comprehensions return lists, they consist of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

This is the basic syntax:
new_list = [expression for element in iterable if condition]

# Question 3:

In [ ]:
d={}
n=int(input("Enter a number "))
for i in range(1, n+1):
  d.update({i:i*i})
print(d)

Enter a number 10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Question 4:

In [ ]:
print("UP 5")
print("DOWN 3")
print("LEFT 3")
print("RIGHT 2")
n=int(input("Enter a Number: "))
if(n==1):
  print("5")
elif(n==2 or n==3):
  print("3")
elif(n==4):
  print("2")

UP 5
DOWN 3
LEFT 3
RIGHT 2
Enter a Number: 4
2