# Question 1:

In [ ]:
import pandas as pd

print(pd.__version__)

1.1.4

# Question 2:

In [ ]:
import pandas as pd 
import numpy as np 

data = np.array(['cat', 'dog', 'rat', 'hen', 'cow']) 
s = pd.Series(data) 
print(s)

0    cat
1    dog
2    rat
3    hen
4    cow
dtype: object

# Question 3:

In [ ]:
pd.DataFrame(s, columns=["Animals"])

  Animals
0     cat
1     dog
2     rat
3     hen
4     cow

# Question 4:

In [ ]:
import seaborn as sb
df = sb.load_dataset('mpg')
print(df)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

# Question 5:

In [ ]:
print(f"categories in origin: {pd.unique(df['origin'])}")

categories in origin: ['usa' 'japan' 'europe']

# Question 6:

In [ ]:
df.loc[df["origin"] != "usa"]

      mpg  cylinders  ...  origin                          name
14   24.0          4  ...   japan         toyota corona mark ii
18   27.0          4  ...   japan                  datsun pl510
19   26.0          4  ...  europe  volkswagen 1131 deluxe sedan
20   25.0          4  ...  europe                   peugeot 504
21   24.0          4  ...  europe                   audi 100 ls
..    ...        ...  ...     ...                           ...
383  38.0          4  ...   japan                   honda civic
384  32.0          4  ...   japan            honda civic (auto)
385  38.0          4  ...   japan                 datsun 310 gx
390  32.0          4  ...   japan              toyota celica gt
394  44.0          4  ...  europe                     vw pickup

[149 rows x 9 columns]